@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th {
    font-weight: normal;
    padding: 0.25rem 1rem;
    height: 2rem;
    text-align: left;
  }
  td {
    font-weight: normal;
    padding: 0.5rem 1rem;
    height: 2.75rem;
    text-align: left;
  }
}

@layer components {
  .dot {
    @apply inline-block align-middle w-2 h-2 rounded-full;
  }
}
